
.md-tabs {
  position: relative;
  z-index: 1;
  padding: .7rem;
  margin-right: 1rem;
  margin-bottom: -20px;
  margin-left: 1rem;
  background-color: #2bbbad;
  border: 0;
  border-radius: .25rem;
  -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}
.primary-color, ul.stepper li.active a .circle, ul.stepper li.completed a .circle {
  background-color: #4285f4 !important;
}
.nav-justified .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
}
.nav li {
    list-style: none;
}
.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.md-tabs .nav-link.active, .md-tabs .nav-item.open .nav-link {
  color: #fff;
  background-color: rgba(0,0,0,0.2);
  border-radius: .25rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}
.md-tabs .nav-link {
  color: #fff;
  border: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}
.md-pills {
  border: 0;
}
.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.nav li {
  list-style: none;
}
.md-pills li {
  padding: .6rem;
}
.pills-primary .nav-link.active {
  background-color: #4285f4 !important;
}
.md-pills .nav-link.active {
  color: #fff;
  background-color: #2bbbad;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.md-pills .nav-link {
  color: #666;
  text-align: center;
  border-radius: 2px;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.nav-link {
  display: block;
  padding: .5rem 1rem;
}