
/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/
.events .card {
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
  }
  
  .events .card-img {
    width: calc(100% + 60px);
    margin-left: -30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
  }
  
  .events .card-img video {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .events .card-body {
    z-index: 10;
    background: #fff;
    border-top: 4px solid #fff;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-top: -60px;
    transition: 0.3s;
  }
  
  .events .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .events .card-title a {
    color: #37423b;
    transition: 0.3s;
  }
  
  .events .card-text {
    color: #5e5e5e;
  }
  
  .events .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
  }
  
  .events .read-more a:hover {
    color: #2d4a8a;
  }
  
  .events .card:hover img {
    transform: scale(1.1);
  }
  
  .events .card:hover .card-body {
    border-color: #2d4a8a;
  }
  
  .events .card:hover .card-body .card-title a {
    color: #2d4a8a;
  }
  
  // -------------------

  