

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .about ul {
    // list-style: none;
    padding: 0;
  }
  
  .about ul li {
    padding-bottom: 10px;
    padding-right: 4px;
    color: #2d4a8a;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    color: #5c5c5c;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 25px;
    text-align: justify;
  }
  
  .about ul i {
    // font-size: 20px;
    padding-right: 4px;
    color: #2d4a8a;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    color: #5c5c5c;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;
    text-align: justify;
  }
  
  .about .learn-more-btn {
    background: #2d4a8a;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px 9px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
  }
  
  .about .learn-more-btn:hover {
    background: #3ac162;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .about .learn-more-btn {
      margin: 0 48px 0 0;
      padding: 6px 18px;
    }
  }
